###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                        linux-server
    host_name                  vdb-100
    alias                      vdb-100
    address                    192.168.4.100
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vdb-101
    alias                      vdb-101
    address                    192.168.4.101
    notifications_enabled      1 
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vdb-staging
    alias                      vdb-staging
    address                    192.168.4.102
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vdb-103
    alias                      vdb-103
    address                    192.168.4.103
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vonly-database
    alias                      vonly-database
    address                    192.168.4.202
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vonly-replica
    alias                      vonly-replica
    address                    192.168.3.61
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vapps-100
    alias                      vapps-100
    address                    192.168.3.100
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vinfra-200
    alias                      vinfra-200
    address                    192.168.3.200
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        linux-server
    host_name                  vapps-109
    alias                      vapps-109
    address                    192.168.3.109
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}


###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          ubuntu-servers           ; The name of the hostgroup
    alias                   Production Servers           ; Long name of the group
    members                 vdb-100,vdb-101,vdb-staging,vdb-103,vonly-database,vonly-replica,vapps-100,vinfra-200,vapps-109
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Define a service to "ping" the local machine

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          PING
    check_command                check_nrpe!check_ping
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups      	 vonly_admin
    contacts                     jatin,atul
}


# < 10% free space on partition.

define service {

    use                          local-service
    hostgroup_name               ubuntu-servers
    service_description          Root Partition
    check_command                check_nrpe!check_disk
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          local-service
    host_name                    vdb-100,vdb-101,vdb-staging,vdb-103,vapps-100,vinfra-200,vapps-109
    service_description          /mnt/data01 Partition
    check_command                check_nrpe!check_volume
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        720
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          local-service
    host_name                    vonly-database,vonly-replica
    service_description          /media/data Partition
    check_command                check_nrpe!check_volume
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        60
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}


# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          Current Users
    check_command                check_nrpe!check_users
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          Total Processes
    check_command                check_nrpe!check_total_procs
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Define a service to check the load on the local machine.

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          Current Load
    check_command                check_nrpe!check_load
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          Swap Usage
    check_command                check_nrpe!check_swap
    notifications_enabled        1 
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service {

    use                          local-service           ; Name of service template to use
    hostgroup_name               ubuntu-servers
    service_description          SSH
    check_command                check_ssh
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          local-service           ; Name of service template to use
    host_name                    vinfra-200
    service_description          VAULT
    check_command                check_nrpe!check_vault
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          local-service           ; Name of service template to use
    host_name                    vinfra-200
    service_description          MySQL Connection Time
    check_command                check_nrpe!mysql_contime
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          local-service           ; Name of service template to use
    host_name                    vinfra-200
    service_description          MySQL Uptime
    check_command                check_nrpe!mysql_uptime
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

