###############################################################################
# WINDOWS.CFG - SAMPLE CONFIG FILE FOR MONITORING A WINDOWS MACHINE
#
#
# NOTES: This config file assumes that you are using the sample configuration
#    files that get installed with the Nagios quickstart guide.
#
###############################################################################



###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################

# Define a host for the Windows machine we'll be monitoring
# Change the host_name, alias, and address to fit your situation

define host {

    use                        windows-server
    host_name                  WINV-101
    alias                      WINV-101       
    address                    192.168.3.101
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-102
    alias                      WINV-102
    address                    192.168.3.102
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-103
    alias                      WINV-103
    address                    192.168.3.103
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-104
    alias                      WINV-104
    address                    192.168.3.104
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-105
    alias                      WINV-105
    address                    192.168.3.105
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-106
    alias                      WINV-106
    address                    192.168.3.106
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-107
    alias                      WINV-107
    address                    192.168.3.107
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-108
    alias                      WINV-108
    address                    192.168.3.108
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-110
    alias                      WINV-110
    address                    192.168.3.110
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-111
    alias                      WINV-111
    address                    192.168.3.111
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

define host {

    use                        windows-server
    host_name                  WINV-112
    alias                      WINV-112
    address                    192.168.3.112
    notifications_enabled      1
    notification_period        24x7
    notification_interval      240
    notification_options       d,u,r,f,s
    register                   1
    contact_groups             vonly_admin
    contacts                   jatin,atul
}

###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################

# Define a hostgroup for Windows machines
# All hosts that use the windows-server template will automatically be a member of this group

define hostgroup {

    hostgroup_name          windows-servers         ; The name of the hostgroup
    alias                   Application Servers         ; Long name of the group
    members                 WINV-101,WINV-102,WINV-103,WINV-104,WINV-105,WINV-106,WINV-107,WINV-108,WINV-110,WINV-111,WINV-112
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# Create a service for monitoring the uptime of the server
# Change the host_name to match the name of the host you defined above

define service {

    use                          generic-service
    hostgroup_name               windows-servers
    service_description          Uptime
    check_command                check_nt!UPTIME
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Create a service for monitoring CPU load
# Change the host_name to match the name of the host you defined above

define service {

    use                          generic-service
    hostgroup_name               windows-servers
    service_description          CPU Load
    check_command                check_nt!CPULOAD!-l 5,80,90
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Create a service for monitoring memory usage
# Change the host_name to match the name of the host you defined above

define service {

    use                          generic-service
    hostgroup_name               windows-servers
    service_description          Memory Usage
    check_command                check_nt!MEMUSE!-w 80 -c 90
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}



# Create a service for monitoring C:\ disk usage
# Change the host_name to match the name of the host you defined above

define service {

    use                          generic-service
    hostgroup_name               windows-servers
    service_description          OS Drive Space
    check_command                check_nt!USEDDISKSPACE!-l c -w 80 -c 90
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}

define service {

    use                          generic-service
    hostgroup_name               windows-servers
    service_description          Data Drive Space
    check_command                check_nt!USEDDISKSPACE!-l d -w 80 -c 90
    notifications_enabled        1
    notification_period          24x7
    notification_options         w,u,c,r,f,s
    notification_interval        240
    register                     1
    _gluster_entity              Service
    contact_groups               vonly_admin
    contacts                     jatin,atul
}
